* {
    font-family: "Roboto", sans-serif;
    /* Padronizando formato da borda */
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #111;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.headerItens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    width: 100%;
    /* altura mínima da tela */
    min-height: 90vh;
    padding: 1rem;
    background-color: #454545;
    color: #fff;
}


@media screen and (min-width:992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}